# Android Studio
*.iml
.gradle/
.idea/
captures/
.DS_Store
build/
local.properties

# API Keys - This is very important!
# Prevents your google_maps_api.xml from being uploaded.
google_maps_api.xml

# Executables
*.apk
*.aab

# Keystore files for signing your app
*.jks
*.keystore